{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Vividivision Academy{% endblock title %}
{% block content %}

  <div class="mt-10">
  <div class="m-auto w-full md:w-10/12">
    <div class="m-4 flex justify-center">
 
      <div>

  <!-- About US section -->

      <div class="w-full lg:mt-8 mb-8">
        
          <div>
            <h1 class="text-5xl xsm:text-6xl text-GreenGray font-Inter font-bold leading-snug xsm:leading-snug text-center mb-4">Contact Us</h1>
          </div>
          <div class="text-xl font-Inter font-extralight text-slate-700 leading-normal">
            <p class="text-center text-slate-800 font-normal m-4">
                VIVIDVISION COMMUNITY ACADEMY (OPC) PRIVATE LIMITED </p>

                <div class="w-full font-Inter text-slate-700 text-lg">
                    <ul class="space-y-1 ml-1">
                      <li><strong class="text-slate-800">Email:</strong> Saiyyad Attar</li>
                      <li><strong class="text-slate-800">Phone:</strong> +919632138485</li>
                      <li><strong class="text-slate-800">Address:</strong> H.NO:- 11-1081/8/2 MSK MILL, NEAR GOUL BOUDI GULBARGA, KARNATAKA-585103</li>
                    </ul>
                  </div>

          </div>
        </div>

    </div>
</div>
</div>  
</div>  

 
    
{% endblock content %}