{% extends 'base.html' %}
{% load static %}
{% block title %}Payment Success Page{% endblock title %}
{% block content %}

  
<div class="mt-20">
  <div class="m-auto w-full md:w-10/12">
    <div class="m-4 flex justify-center">
 

  <!-- Hero section -->
  

    <div class="flex justify-center w-full sm:mt-4">
      <div>
      <div>
        <h1 class="text-5xl xsm:text-6xl text-GreenGray font-Inter font-bold leading-snug xsm:leading-snug text-center mb-6">Thank You!</h1>
      </div>
      <div class="text-xl sm:text-2xl text-GreenGray font-Inter font-light leading-relaxed sm:leading-relaxed lg:leading-relaxed text-center">
        <p>You Have Successfully Paid. Thank You For The Payment and for being Generous. Your Money Will Be Used For Better Purpose. We are eager to help you that's, why we will shortly send you an email stating all the details about the meeting and how can we help You. Once again Thank You!</p>
      </div>
      <div class="flex justify-center">
        <a href="/" class="text-xl font-Inter font-normal text-NearGrayTwo text-center w-80 xsm:w-96 py-5 border-radius-50 bg-GreenGray mt-8 hover:bg-slate-950">Back to home</a>
      </div>
    </div>
    </div>


</div>
</div>  
</div>  

    
{% endblock content %}

