{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/general/favicon.ico' %}" type="image/x-icon">	

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>

    <!-- gogle fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carme&family=Content:wght@400;700&family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:wght@300;700&family=Lexend:wght@900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;700&family=Sintony:wght@400;700&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <title>{% block title %}{% endblock title %}</title>

</head>

<body class="no-scrollbar bg-whitePale">


  {% if messages %}
      <div class="fixed mt-6 inset-x-0 flex justify-center mx-4 z-50">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} mt-24 bg-opacity-90 font-Karla font-normal text-lg p-4 text-black border border-gray-400 rounded w-fit
                      {% if message.tags == 'success' %}
                        bg-green-100
                      {% elif message.tags == 'info' %}
                        bg-blue-100
                      {% elif message.tags == 'warning' %}
                        bg-yellow-100
                      {% elif message.tags == 'error' %}
                        bg-red-100
                      {% endif %}
                      ">
    
            {{ message }}
            <button type="button" class="close text-black ml-4" onclick="closeAlert(this.parentElement)" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  




<!-- Navbar -->

<nav  class="w-full">
  <div class="w-full flex items-center justify-center mt-16">
    
    <div>
      <div class="w-full flex items-center justify-center">
    <a href="/" class="font-Inter font-medium text-2xl text-center xsm:text-3xl sm:text-4xl text-NearGray">Vividivision Academy</a>
      </div>
   <div class="mt-8">
    <ul class="flex flex-wrap justify-between leading-relaxed mt-3 mb-6 text-sm font-medium sm:mb-0 sm:mt-0 text-black dark:text-white">
          
      <li>
          <a href="{% url 'home:about-us' %}" class="mr-4 text-lg  hover:underline hover:text-blue-600 md:mr-6 py-2 px-8  border border-gray-400 border-radius-50">About Us</a>
      </li>
      <li>
          <a href="{% url 'home:contact-us' %}" class="mr-4 text-lg  hover:underline hover:text-blue-600 md:mr-6 py-2 px-8  border border-gray-400 border-radius-50">Contact Us</a>
      </li>
  </ul>

</div>
</div>
  </div>
</nav>  


<!-- Main Body Content -->
<main>
    <div>

        {% block content %}

        {% endblock content %}
    </div>
</main>



<!-- Footer -->
<footer>


  <div class="w-full md:w-10/12 lg:w-9/12 mx-auto py-4 px-4 bottom-0 border-t border-gray-400">
    
        

        <ul class="flex flex-wrap justify-around leading-relaxed mt-3 mb-6 gap-y-4 text-sm font-medium sm:mb-0 sm:mt-0 text-black dark:text-white">
          
            <li>
                <a href="{% url 'home:privacy-policy' %}" class="mr-4 text-lg  hover:underline hover:text-blue-600 md:mr-6">Privacy & Policy</a>
            </li>
            <li>
                <a href="{% url 'home:terms-and-conditions' %}" class="mr-4 text-lg  hover:underline hover:text-blue-600 md:mr-6">Terms & Conditions</a>
            </li>
           
            <li>
                <a href="{% url 'home:refund-policies' %}" class="mr-4 text-lg  hover:underline hover:text-blue-600 md:mr-6">Refund Policies</a>
            </li>

        </ul>
    
  </div>
    
</footer>



<script src="{% static 'js/tw-elements.umd.min.js' %}"></script>
 


</body>
</html>